{% extends "base.html" %}

{% block title %}{{brand_title}}: albums{% endblock %}

{% block content %}

    <!-- ==========================
        BREADCRUMB - START
    =========================== -->
    <section class="breadcrumb-wrapper">
        <div class="container">
            <h2>Albums by Year</h2>
        </div>
    </section>
    <!-- ==========================
        BREADCRUMB - END
    =========================== -->

    <section class="content" id="features">
        <div class="container">
            {% for album_year in album_dates %}
            <h1>
            <a href="{% url album-list-by-year album_year.year %}">
            Albums from year: {{ album_year.year }}
            </a>
            </h1>
            {% endfor %}
        </div>
    </section>

{% endblock %}


