{% load humanize thumbnail %}

		<article class="entry clearfix">
			<div class="">
				<a href="{% url album-view album.id %}">
					<h1 class="title">{{album.title}}</h1>
				</a>
				<p>{{album.description}}</p>
				
			</div><!-- end .entry-body -->
			<a href="{% url album-view album.id %}" title="{{album.title}}">
				{% for photo in album.photo_set.all|dictsort:"order"|slice:":3" %}
 				    {% thumbnail photo.filename "200x200" crop="center" as im %}
				         <img src="{{ im.url }}" alt="{{photo.title|escape}}">
					{% endthumbnail %}
				{% endfor %}
			</a>
			<div class="entry-meta">
				<ul>
					<li><span class="title">Date:</span> <a href="{% url album-view album.id %}">{{album.date|naturalday}}</a></li>
					<li><span class="title">Photos:</span> <a href="{% url album-view album.id %}">{{album.photo_set.count}}</a></li>
				</ul>
			</div><!-- end .entry-meta -->
			
		</article><!-- end .entry -->
