{% extends "base.html" %}
{% load humanize thumbnail staticfiles %}

{% block title %}{{album.title}}{% endblock %}


{% block additional_header_scripts %}

    <!-- Photo Swipe stuff -->
    <link rel="stylesheet" href="{% static "photoswipe-3.0.5/photoswipe.css" %}" />
{%endblock%}

{% block additional_footer_scripts_first %}
    <!-- facebook stuff -->
    <script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}
    </script>

    <!-- isotope validation that images have loaded -->
    <script src="{% static "imagesloaded.pkgd.min.js" %}"></script>
    <script type="text/javascript">
        var $container = $('.portfolio-wrapper');
        $container.imagesLoaded(function() {
            $container.isotope('layout');
        });
    </script>

    <!-- Photo Swipe -->
    <script type="text/javascript" src="{% static "photoswipe-3.0.5/lib/klass.min.js" %}"></script>
    <script type="text/javascript" src="{% static "photoswipe-3.0.5/code.photoswipe-3.0.5.js" %}"></script>

    <script type="text/javascript">
        (function(window, PhotoSwipe){
            document.addEventListener('DOMContentLoaded', function(){
                var
                    options = {
                        'captionAndToolbarAutoHideDelay': 0
                    },
                    instance = PhotoSwipe.attach( window.document.querySelectorAll('.full-image'), options );
            }, false);
        }(window, window.Code.PhotoSwipe));

    </script>
{%endblock%}

{% block content %}

    <!-- ==========================
        BREADCRUMB - START
    =========================== -->
    <section class="breadcrumb-wrapper">
        <div class="container">
            <h2>{{album.title}}</h2>
            <ol class="breadcrumb">
                {% if user.is_authenticated and user.is_staff %}
                <a class="btn btn-info btn-sm" href="{% url 'album-upload' album.id %}">Upload Photos</a>
                <a class="btn btn-info btn-sm" href="{% url 'album-sort' album.id %}">Sort Photos</a>
                <a class="btn btn-info btn-sm" href="{% url 'album-edit-info' album.id %}">Edit Album Info</a>
                <a class="btn btn-info btn-sm" href="{% url 'album-edit' album.id %}">Edit Captions</a>
                <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteAlbum"href="#">Delete Album</a>
                {% endif %}
            </ol>
        </div>
    </section>
    <!-- ==========================
        BREADCRUMB - END
    =========================== -->

    <!-- Delete Album Modal -->
    <div class="modal fade" id="deleteAlbum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h3>Are you sure you want to delete this album?</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <a href="{% url 'album-delete' album.id %}" class="btn btn-danger danger">Delete</a>
          </div>
        </div>
      </div>
    </div>

    <!-- ==========================
        Album - START
    =========================== -->
    <section class="content bg-color-2 portfolio-col-3" id="portfolio">
        <div class="container2">
            <h4 class="tagline">{{album.description}}</h4>
            <ul class="brands brands-inline brands-sm brands-transition brands-circle">
                <li><a rel="nofollow" href="http://www.facebook.com/share.php?u=<;url>" onclick="return fbs_click()" target="_blank" class="brands-facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/share"
                    data-url="{% url 'album-view' album.id %}"
                    data-count='none' class="brands-twitter">
                    <i class="fa fa-twitter"></i></a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </li>
            </ul>
            <div class="row portfolio-wrapper">
            <div class="galleria">

                {% for photo in album.photo_set.all %}
                <!-- BLOG POST -->
                <div class="col-md-4 portfolio-item design icons">
                    <article>
                        <div class="overlay-wrapper">
                            {% thumbnail photo.filename "300x300" as im %}
                            <img src="{{ im.url }}" class="img-responsive" alt="{{ photo.title|escape}}" width=100%>
                            {% endthumbnail %}

                            {% thumbnail photo.filename "1024x1024" as lg_im %}
                            <a href="{{ lg_im.url }}" class="full-image" title="{{ photo.title|escape}}">
                            {% endthumbnail %}

                            <span class="overlay">
                            </span>
                            </a>
                        </div>
                        {% if photo.title %}
                        <div class="portfolio-item-description">
                            {{photo.title|escape}}
                        </div>
                        {% endif %}
                        <a href="{% url 'photo-view' photo.id %}">
                        <i class="fa fa-edit pull-right"></i>
                        </a>
                    </article>
                </div>
                {% endfor %}


            </div>

            </div>
        </div>
    </section>

{% endblock %}
