{% extends "base.html" %}
{% load humanize thumbnail %}

{% block title %}{{album.title}}{% endblock %}


{% block additional_header_scripts %}

    <script src="{{ STATIC_URL }}influence/lib/jquery.isotope.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}influence/stylesheets/isotope.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}photoswipe-3.0.5/photoswipe.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}photoswipe-3.0.5/lib/klass.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}photoswipe-3.0.5/code.photoswipe-3.0.5.js"></script>

    <script type="text/javascript">
        (function(window, PhotoSwipe){
            document.addEventListener('DOMContentLoaded', function(){
                var
                    options = {
                        'captionAndToolbarAutoHideDelay': 0
                    },
                    instance = PhotoSwipe.attach( window.document.querySelectorAll('#gallery a.single-image'), options );
            }, false);
        }(window, window.Code.PhotoSwipe));

    </script>
{%endblock%}

{% block additional_footer_scripts %}
    <!-- facebook stuff -->
    <script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}
    </script>

    <script type="text/javascript">
        $('.social').hide();
        function onToggle()
        {
            if ($('.social').is(":visible")  )
                $('.social').hide();
            else
                $('.social').show();
            $('#gallery').isotope('reLayout');
        };
    </script>
{%endblock%}

{% block content %}
<div class="container">
    <script type="text/javascript">
    $(function(){
        $('#gallery').imagesLoaded( function(){
            $(this).isotope(
            {
//                itemSelector : '.photoitem',
                layoutMode: 'masonry'
            });
        });
        //fancyFilter('.filter', '#gallery');
    });
    </script>
    <h1>{{album.title}}</h1>
    <h3 class="tagline">{{album.description}}</h3>
    <div class="widget" style="float:right;padding-bottom:1em;">
        {% if user.is_authenticated and user.is_staff %}
        <a class="btn btn-primary" href="{% url album-upload album.id %}">Upload Photos</a>
        <a class="btn btn-primary" href="{% url album-sort album.id %}">Sort Photos</a>
        <a class="btn btn-primary" href="{% url album-edit album.id %}">Edit Album</a>
        {% endif %}
        <a class="btn btn-primary" onclick="onToggle();" >Controls</a>
    </div><!-- end .widget -->
    <br>

    <h4 class="align-right">Album Date: {{album.date|naturalday}}</h4>


    <div id="gallery" class="gallery four" style="clear: both;">
        {% for photo in album.photo_set.all %}


            <div class="element col-md-4 pull-left sampleFilterOnefalse sampleFilterTwofalse">
                {% thumbnail photo.filename "1024x1024" as lg_im %}
                <a href="{{ lg_im.url }}" class="single-image" title="{{ photo.title|escape}}">
                {% endthumbnail %}
                <div >
                {% thumbnail photo.filename "300x300" as im %}
                <img src="{{ im.url }}" alt="{{photo.title|escape}}" >
                {% endthumbnail %}
                </div>

                <h4>{{photo.title|escape}}</h4>
                <div class="social">
                    {% if enable_social_media %}
                    <a rel="nofollow" href="http://www.facebook.com/share.php?u=<;url>" onclick="return fbs_click()" target="_blank" ><i class="icon-facebook"></i></a>
                    <a href="https://twitter.com/share"
                    data-url="{% url photo-view photo.id %}"
                    data-count='none'>
                    <i class="icon-twitter"></i></a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                    {% endif %}
                    <a href="{% url photo-view photo.id %}"><i class="icon-zoom-in"></i></a>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
