{% extends "base.html" %}

{% block title %}edgarroman.com photo site{% endblock %}


{% block additional_header_scripts %}
<!--- COLORBOX FOR GALLERY -->
<link href="{{ MEDIA_URL }}/ocean/css/colorbox.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="{{ MEDIA_URL }}/ocean/js/jquery.colorbox.js"></script>
<script type="text/javascript">
		$(document).ready(function(){
			$("a[rel='ocean_gallery']").colorbox();
		});
</script>
<!---END COLORBOX FOR GALLERY -->
{%endblock%}


{% block content %}
<!--- START SEPARATION BLOCK -->
<div class="separation">
        <div class="container_16 grid16-height">
                <div class="grid_16 center"><h3 class="gray">{{ album.title }}</h3></div>	
        </div> <!--- .container_16 -->
</div> <!--- .separation -->
<div class="clear"></div>
<h2>{{ album.description }}</h2>
<div class="container_16 animate">
    {% for photo in album.photo_set.all %}
      <div class="bg-image-three {% if forloop.counter|divisibleby:"3" %}last{%endif%}" >
          {% include "photo-list-element.html" %} 
      </div> <!--- .bg-image-three -->
    
      {% if forloop.counter|divisibleby:"3" %}
          <div class="clear"></div>
      {% endif %}
    {% endfor %}
</div>
{% endblock %}
