{% extends "base.html" %}

{% block title %}{{SITE_NAME}}: albums{% endblock %}
{% block menu-highlight-albums%}class="current"{% endblock %}
{% block current-album-page %}class="current"{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
        <h1>Albums</h1>
            <div id="blog-posts">
                {% for album in albums %}
                    {% include "album-list-element.html" %}
                {% endfor %}
            </div>

            <div style="margin-top: 0px;">
                <ul class="fancy pagination">
                    {% if albums.has_previous %}
                    <li><a href="{% url album-list albums.previous_page_number %}">«</a></li>
                    {% endif %}
                    {% for page in prange %}
                        {% if page = albums.number %}
                        <li class="active"><a href="#">{{page}}</a></li>
                        {% else %}
                        <li><a href="{% url album-list page %}">{{page}}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if albums.has_next %}
                    <li><a href="{% url album-list albums.next_page_number %}">»</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}
