{% load humanize %}

		<article class="entry clearfix">
			<div class="">
				<a href="{% url album-view album.id %}">
					<h1 class="title">{{album.title}}</h1>
				</a>
				<p>{{album.description}}</p>
				
			</div><!-- end .entry-body -->
			<a href="{% url album-view album.id %}" title="{{album.title}}">
				<img src="http://photos.edgarroman.com/images/thumbs/12708.jpg.200x200_q85_crop.jpg" alt="" class="">
				<img src="http://photos.edgarroman.com/images/thumbs/12709.jpg.200x200_q85_crop.jpg" alt="" class="">
				<img src="http://photos.edgarroman.com/images/thumbs/12710.jpg.200x200_q85_crop.jpg" alt="" class="">
			</a>
			<div class="entry-meta">
				<ul>
					<li><span class="title">Date:</span> <a href="{% url album-view album.id %}">{{album.date|naturalday}}</a></li>
					<li><span class="title">Photos:</span> <a href="{% url album-view album.id %}">{{album.photo_set.count}}</a></li>
				</ul>
			</div><!-- end .entry-meta -->
			
		</article><!-- end .entry -->
