{% extends "base.html" %}

{% block title %}edgarroman.com photo site: albums{% endblock %}
{% block menu-highlight-albums%}class="current"{% endblock %}
{% block current-album-page %}class="current"{% endblock %}


{% block content %}
	
	<header class="page-header">
		<h1 class="page-title">Photo Albums</h1>
	</header><!-- end .page-header -->

	<section id="main">
	{% for album in albums %}
		{% include "album-list-element.html" %} 
	{% endfor %}
	
	<ul class="pagination">
		{% ifnotequal albums.number 1 %}
		<li class="next"><a href="{% url album-list 1 %}">First</a></li>
		{% endifnotequal %}			
		{% if albums.has_previous %}
		<li class="next"><a href="{% url album-list albums.previous_page_number %}">&larr; Previous</a></li>
		{% endif %}	
		<li class="current">{{ albums.number }}</li>
		{% if albums.has_next %}
		<li class="prev"><a href="{% url album-list albums.next_page_number %}">Next &rarr;</a></li>
		{% endif %}
		{% ifnotequal albums.number last_page %}
		<li class="next"><a href="{% url album-list last_page %}">Last</a></li>
		{% endifnotequal %}			
	</ul>

	</section><!-- end #main -->
	
{% endblock %}
