<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ brand_title }}{% endblock %}</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}influence/lib/bootstrap3/dist/css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}influence/lib/FontAwesome/css/font-awesome.min.css">
    <script src="{{ STATIC_URL }}influence/lib/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}influence/javascripts/site.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}influence/stylesheets/theme.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% if brand_ga_code %}
    <!-- Google Analytics : start -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ brand_ga_code }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- Google Analytics : end -->
    {% endif %}

    {% block additional_header_scripts %}{%endblock%}

  </head>

<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
<!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
<!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<body class="">
<!--<![endif]-->

    <div class="navbar">

        <div class="container">
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <i class="icon-align-justify"></i>
                  </button>
                  <a class="navbar-brand" href="{% url home %}">{{ brand_title }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class=" ">
                        <a href="{% url home %}"><span>Home</span></a>
                    </li>
                    <li class=" ">
                        <a href="{% url album-list '1' %}"><span>Albums</span></a></li>
                    <li {% block menu-highlight-by-year %}{% endblock %}>
                        <a href="{% url album-list-by-year-years %}" ><span>Albums by Year</span></a></li>
                    {% if user.is_authenticated and user.is_staff %}
                    <li class=" ">
                        <a href="{% url album-new %}"><span>Add New Album</span></a></li>
                    {% endif %}
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>




<!-------------------------------- contents -------------------------->
<div class="content">
{% block content %}{% endblock %}
</div><!-- end #content -->


<!-------------------------------- footer -------------------------->
<div class="footer-spacer"></div>
    <footer>
        <div class="bottom-footer">
            <p class="pull-right">
            {% if user.is_authenticated %}
                <a href="{% url logout %}">Logout</a>
            {% else %}
                <a href="{{ login_url }}">Login</a>
            {% endif %}
            </p>
            <div class="social">
                Copyright (c) {% now "Y" %} All Rights Reserved
            </div>
        </div>
        </div>
    </footer>

{% block footer_scripts %}
    <script src="{{ STATIC_URL }}influence/lib/bootstrap3/dist/js/bootstrap.js"></script>

{% block additional_footer_scripts %}
{%endblock%}

{%endblock%}

</body>
</html>
