{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- ==========================
        Meta Tags
    =========================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ==========================
        Title
    =========================== -->
    <title>{% block title %}{{ brand_title }}{% endblock %}</title>

    <!-- ==========================
        Favicons
    =========================== -->
    <link rel="shortcut icon" href="{% static "roxie/icons/favicon.ico" %}">
    <link rel="apple-touch-icon" href="{% static "roxie/icons/apple-touch-icon.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "roxie/icons/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "roxie/icons/apple-touch-icon-114x114.png" %}">

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- ==========================
        Fonts
    =========================== -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- ==========================
        CSS
    =========================== -->
    <link href="{% static "roxie/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "roxie/css/animate.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "roxie/css/yamm.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "roxie/css/jquery.bootstrap-touchspin.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "roxie/css/creative-brands.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "roxie/css/color-switcher.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "roxie/css/color.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "roxie/css/custom.css" %}" rel="stylesheet" type="text/css">

    <!-- ==========================
        JS
    =========================== -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {% if brand_ga_code %}
    <!-- Google Analytics : start -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ brand_ga_code }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- Google Analytics : end -->
    {% endif %}

    {% block additional_header_scripts %}{%endblock%}

  </head>

<body class="color-blue">


    <!-- ==========================
        HEADER - START
    =========================== -->

    <header class="navbar yamm navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">{{ brand_title }}</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
            </div>

            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav navbar-main-menu">
                    <li class="">
                        <a href="{% url 'home' %}"><span>Home</span></a>
                    </li>
                    <li class=" ">
                        <a href="{% url 'album-list' '1' %}"><span>Albums</span></a></li>
                    <li {% block menu-highlight-by-year %}{% endblock %}>
                        <a href="{% url 'album-list-by-year-years' %}" ><span>Albums by Year</span></a>
                    </li>
                    <li class="dropdown search-form-toggle">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                        <ul class="dropdown-menu navbar-search-form">
                            <li>
                                <form action='{% url "haystack_search" %}'>
                                    <fieldset>
                                        <div class="form-group nospace">
                                            <div class="input-group">
                                                <input name='q' class="form-control" id="id_q" placeholder="Search" required>
                                                <span class="input-group-btn"><button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button></span>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </li>
                        </ul>
                    </li>
                    {% if user.is_authenticated and user.is_staff %}
                    <li class=" ">
                        <a href="{% url 'album-new' %}"><span>Add New Album</span></a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </header>


<!-------------------------------- contents -------------------------->
{% block content %}{% endblock %}

    <!-- ==========================
        FOOTER - START
    =========================== -->
    <footer>
        <div class="container">
            <div class="footer-bottom">
                <div class="footer-copyright">
                    Copyright (c) {% now "Y" %} All Rights Reserved
                </div>
                <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                    <li>
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{{ login_url }}">Login</a>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- ==========================
        FOOTER - END
    =========================== -->

{% block footer_scripts %}
    <!-- ==========================
        JS
    =========================== -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

    {% block additional_footer_scripts_first %}
    {%endblock%}

    <!--script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script-->
    <script src="{% static "roxie/js/bootstrap.min.js" %}"></script>
    <script src="{% static "roxie/js/waypoints.min.js" %}"></script>
    <script src="{% static "roxie/js/owl.carousel.js" %}"></script>
    <script src="{% static "roxie/js/isotope.pkgd.min.js" %}"></script>
    <script src="{% static "roxie/js/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "roxie/js/creative-brands.js" %}"></script>
    <script src="{% static "roxie/js/color-switcher.js" %}"></script>
    <script src="{% static "roxie/js/jquery.countTo.js" %}"></script>
    <script src="{% static "roxie/js/jquery.countdown.js" %}"></script>
    <script src="{% static "roxie/js/custom.js" %}"></script>

{% block additional_footer_scripts %}
{%endblock%}

{%endblock%}

</body>
</html>
