<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{% block title %}{{ brand_title }}{% endblock %}</title>
	
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="stylesheet" href="{{ STATIC_URL }}smartstart/css/style.css" media="screen" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic" />
	<link rel="stylesheet" href="{{ STATIC_URL }}smartstart/css/fancybox.min.css" media="screen" />

	<!--[if lte IE 6]>
		<link rel="stylesheet" href="//universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection">
	<![endif]-->

	<!-- HTML5 Shiv + detect touch events -->
	<script src="{{ STATIC_URL }}smartstart/js/modernizr.custom.js"></script>

	{% if brand_ga_code %}
	<!-- Google Analytics : start -->
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '{{ brand_ga_code }}']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	<!-- Google Analytics : end -->
	{% endif %}

	{% block additional_header_scripts %}{%endblock%}

</head>
<body>
	
<header id="header" class="container clearfix">
	<a href="index.html" id="logo">
		<!--img src="img/logo.png" alt="SmartStart"-->
	</a>
	<nav id="main-nav">
		
		<ul>
			<li class="current">
				<a href="{% url home %}" data-description="See the newest Albums">Home</a>
			</li>
			<li><a href="{% url album-list '0' %}" target="_self" >Albums</a></li>
			<li><a href="{% url album-list-by-year-years %}" target="_self" >Albums by Year</a></li>
		</ul>
	</nav><!-- end #main-nav -->
</header><!-- end #header -->


<!-------------------------------- contents --------------------------> 
<section id="content" class="container clearfix">
{% block content %}{% endblock %}
</section><!-- end #content -->
<!-------------------------------- footer --------------------------> 

<footer id="footer-bottom" class="clearfix">
    <div class="container">
		<!--- START COPYRIGHT -->
		<ul>
			<li>{{ brand_copyright }}</li>
			{% if user.is_authenticated %}
				<li>
				<a href="{% url logout %}">Logout</a>
				</li>
			{% else %}
				<li>
				<a href="{{ login_url }}">Login</a>
				</li>
			{% endif %}
		</ul>
    </div><!-- end .container -->
</footer><!-- end #footer-bottom -->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--[if lt IE 9]> <script src="{{ STATIC_URL }}smartstart/js/selectivizr-and-extra-selectors.min.js"></script> <![endif]-->
<script src="{{ STATIC_URL }}smartstart/js/respond.min.js"></script>
<script src="{{ STATIC_URL }}smartstart/js/jquery.jcarousel.min.js"></script>
<script src="{{ STATIC_URL }}smartstart/js/jquery.isotope.min.js"></script>
<script src="{{ STATIC_URL }}smartstart/js/jquery.touchSwipe.min.js"></script>
<script src="{{ STATIC_URL }}smartstart/js/custom.js"></script>


</body>
</html>
