{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{SITE_NAME}}{% endblock %}

{% block menu-highlight-home %}class="current"{% endblock %}

{% block content %}

    <!-- ==========================
        BREADCRUMB - START
    =========================== -->
    <section class="breadcrumb-wrapper">
        <div class="container">
            <h2>Newest Albums</h2>
        </div>
    </section>
    <!-- ==========================
        BREADCRUMB - END
    =========================== -->

    <!-- ==========================
        BLOG - START
    =========================== -->
    <section class="content bg-color-2 blog-col-2" id="blog">
        <div class="container">
            <div class="blog-header">
            </div>
            <div class="row blog-wrapper">
            {% for album in albums %}
                {% include "album-list-element.html" %}
            {% endfor %}

            </div>
    <button class='btn btn-link'><a href="{% url 'album-list' 2 %}">See more albums</a></button>
        </div>
    </section>
    <!-- ==========================
        BLOG - END
    =========================== -->

{% endblock %}

{% block additional_footer_scripts_first %}
    <!-- isotope validation that images have loaded -->
    <script src="{% static "imagesloaded.pkgd.min.js" %}"></script>
    <script type="text/javascript">
        var $container = $('.blog-wrapper');
        $container.imagesLoaded(function() {
            $container.isotope('layout');
        });
    </script>
{% endblock %}
