{% extends "base.html" %}

{% block title %}{{ album.title }}{% endblock %}

{% block additional_header_scripts %}
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="{{ MEDIA_URL }}/photoswipe/photoswipe.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ MEDIA_URL }}/photoswipe/lib/klass.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}/photoswipe/code.photoswipe-3.0.3.min.js"></script>

    <script type="text/javascript">
		(function(window, PhotoSwipe){
			document.addEventListener('DOMContentLoaded', function(){
				var
					options = { autoStartSlideshow: true },
					instance = PhotoSwipe.attach( window.document.querySelectorAll('#Gallery a'), options );
			}, false);
		}(window, window.Code.PhotoSwipe));
    </script>
{%endblock%}

{% load thumbnail %}
{% block content %}
<div id="AlbumView" >
<h2>{{ album.title }}</h2>
<h3>{{ album.description }}</h3>

<style type="text/css">
 
ul { width: 100%; list-style: none; line-height: normal; }
li { float: left; width: 400px; border: 1px black solid; }

</style>


<ul id="Gallery" class="gallery">

{% for photo in photos %}
  <li><a href="{% thumbnail photo.filename 1000x1000 %}"><img src="{% thumbnail photo.filename 200x200 crop %}" width="100%" alt="{{photo.title|escape}}"></a></li>
{% endfor %}
</ul>

</div>

{% endblock %}
  