{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{album.title}}{% endblock %}


{% block additional_header_scripts %}
<link rel="image_src"
    type="image/jpeg"
    {% thumbnail photo.filename "300x190" as im %}
    href="{{ im.url }}" />
    {% endthumbnail %}
{% endblock %}

{% block additional_footer_scripts %}
    <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}jquery.jeditable.js"></script>
    <script>

    $(".click").editable("{% url album-edit-ajax album.id %}", {
        indicator : "Saving...",
        tooltip   : "Click to edit...",
        style  : "inherit",
        onblur : "submit",
        placeholder : "<em>Untitled - Click to add</em>"
    });

    </script>
    <!-- facebook stuff -->
    <script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}
    </script>

{%endblock%}

{% block content %}

<header class="page-header">
    <h2 class="project-title
        {% if user.is_authenticated and user.is_staff %}
        click{%endif%}"
        id="title|{{photo.id}}">{{photo.title}}
    </h2>

    <ul class="portfolio-pagination">
      {% if photo.prev_photo %}
        <li class="prev"><a href="{% url photo-view photo.prev_photo.id %}" class="button medium no-bg"><span class="arrow left">&raquo;</span> Previous</a></li>
      {% endif %}
      {% if photo.next_photo %}
        <li class="next"><a href="{% url photo-view photo.next_photo.id %}" class="button medium no-bg">Next <span class="arrow">&raquo;</span></a></li>
          <script language="javascript">
            <!-- cache the next image
            ImageNext= new Image();
            {% thumbnail photo.filename "1024x1024" as lg_im %}
                ImageNext.src = "{{ lg_im.url }}"
            {% endthumbnail %}
              //end hiding -->
          </script>
      {% endif %}
    </ul><!-- end .portfolio-pagination -->
</header><!-- end .page-header -->

    {% thumbnail photo.filename "1024x1024" as lg_im %}
    <img src="{{ lg_im.url }}" class="single-image" title="{{ photo.title|escape}}">
    {% endthumbnail %}
<p>
    <a href="{% url album-view photo.album.id %}" class="button no-bg large">
        Back to the Album<img src="{{STATIC_URL}}smartstart/img/icon-grid.png" alt="" class="icon">
    </a>
</div>


    <ul class="social-links">
        {% if enable_social_media %}
        <!--li class="twitter"><a href="#">Twitter</a></li-->
        <li class="facebook"><a rel="nofollow" href="http://www.facebook.com/share.php?u=<;url>" onclick="return fbs_click()" target="_blank" >Facebook</a></li>
        <!--li class="googleplus"><a href="#">Google Plus</a></li-->
        {% endif %}
    </ul><!-- end .social-links -->

{% endblock %}
