{% load thumbnail %}
		<article class="one-third" data-categories="{{ photo.keywords }}">
			<a href="{{ photo.filename.url }}" class="single-image" title="{{ photo.title|escape}}">
                {% thumbnail photo.filename "300x190" as im %}
				<img src="{{ im.url }}" alt="{{photo.title|escape}}" >
                {% endthumbnail %}
			</a>
            <h5 class="title">{{photo.title|escape}}  : {{photo.filename.url}}</h5>
            <span class="categories">{{photo.description}}</span>
			</a>
		</article><!-- end .one-third (Altered) -->
