{% extends "error_base.html" %}
{%block content%}
    <!-- ==========================
        ERROR - START
    =========================== -->
    <section class="content-full bg-color-2">
        <div class="container error">
            <div class="error-number">400</div>
            <div class="error-text">
                <h1>BAD REQUEST</h1>
                <p>It must be something you said. Go back to
                <a href="{% url "home" %}">Homepage</a></p>
            </div>
        </div>
    </section>
    <!-- ==========================
        ERROR - END
    =========================== -->
{%endblock%}