{% extends "error_base.html" %}
{%block content%}
    <!-- ==========================
        ERROR - START
    =========================== -->
    <section class="content-full bg-color-2">
        <div class="container error">
            <div class="error-number">500</div>
            <div class="error-text">
                <h1>SERVER ERROR</h1>
                <p>Oh Man.  Something is busted on the server.  Sorry about that.</p>
            </div>
        </div>
    </section>
    <!-- ==========================
        ERROR - END
    =========================== -->
{%endblock%}